[program:{{ item.name }}]
directory=/home/vagrant/projects/{{ item.directory }}
command={{ item.startup_command }}
autostart={{ item.autostart | lower }}
user=vagrant
redirect_stderr=true
stdout_logfile=/home/vagrant/projects/logs/supervisor-{{ item.name }}.log
