definitions:
  - name: phpdocker
    git_repo: https://github.com/phpdocker-io/phpdocker.io.git
    directory: phpdockerio
    gateway:
      hostname: phpdocker-vagrant
      exposed_service_port: 10000
    supervisor:
      startup_command: make start -e CAROOT=~/local_certificates
      autostart: true
